
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; 
  padding: 1rem 0;
  color: white;
  font-family: 'Open Sans', sans-serif;
  ;
  
}


nav li{
  padding: 0.2rem 1rem;
}
nav a {
  color: white;
  transition: color 0.3s ease;
  z-index: 1;


}
nav .navigation, nav .language-switch{
  text-transform: uppercase;
  font-size: 0.9rem;
  
}
nav.scrolled a:hover,
nav.scrolled .language-switch:hover,
nav .language-switch:hover,
nav a:hover{
  color: #04bb49
}

nav.scrolled {
  background-color: white; 
  background-color: rgba(255, 255, 255, 0.9); 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 

}

nav.scrolled a, nav.scrolled .language-switch {
   color: #212529;
}
.navbar-brand {
  color: #04bb49;
  font-family: 'Rouge Script', cursive;
  font-weight: 500;
  font-size: 3em;
}
nav.scrolled .navbar-brand:hover{
  color: #212529;
}
nav.scrolled .navbar-brand{
  color: #04bb49;
} /* */


  /* Styles for mobile scrolled navbar */
#mainNav.mobile-scrolled {
  background-color: white; /* Set background color to white */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Optional: add a border */
}

#mainNav.mobile-scrolled .navbar-nav > li.nav-item > a.nav-link:hover {
  color: #04bb49; /* Set hover color for links */
}

/* Additional styles for mobile view */
@media (max-width: 991px) {
  #mainNav {
   background-color: white; /* Default for mobile */
  }

  #mainNav .mobile-scrolled {
    background-color: white; /* Background color when scrolled */
  }
  #mainNav .navbar-brand,
  #mainNav .mobile-scrolled .navbar-brand{
    color: #04bb49;
    font-size: 2em;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.mobile-scrolled .navbar-nav > li.nav-item > a.nav-link {
    color: #212529; /* Set text color for links in mobile view */
  }
  
}