<footer class="text-center p-4" style="background-color: #f8f9fa;">
    <div class="container ">
        <div class="row">
            <!-- <div class="col-md-6">
                <h5>Follow Us</h5>
                <a href="#" class="me-2"><i class="bi bi-facebook"></i></a>
                <a href="#" class="me-2"><i class="bi bi-twitter"></i></a>
                <a href="#" class="me-2"><i class="bi bi-instagram"></i></a>
            </div> -->
            <div >
               
                <p>&copy; 2024 Health Balance. All rights reserved.</p>
                <p>Powered by Irina Varshavsky</p>
            </div>
        </div>
    </div>
</footer>