
<section class="p-5 bg-dark text-center" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">{{ "about.title" | translate }}</h2>
        <hr class="mx-auto" style="width: 50%;"/>
        <p class="mb-4">{{ "about.description" | translate }}</p>
        <img
          itemprop="image"
          src="../../assets/images/about/about-img.jpg"
          alt="image massage room"
          height="300px"
          class="styled-image"
        />
      </div>
    </div>
  </div>
</section>
