<section class="p-5 bg-light text-center row section-bg" id="contact">
  <div class="container content-body">
    <h2>Get In Touch</h2>
    <hr class="mx-auto" style="width: 50%" />
    <div class="row">
      <div class="col-md-6 d-flex">
        <div class="col-md-4"></div>
      
        <div class="col-md-8 text-left contact-info">
          <h6>Contact Us</h6>
          <p class="phone">
            <a href="tel:+1234567890">
              <i class="bi bi-telephone-fill"></i> {{ phone }}
            </a>
          </p>
          <p class="email"><i class="bi bi-envelope-fill"></i><a href="mailto:{{ email}}">{{ email }}</a> </p>
         
          <p class="address">
            <i class="bi bi-geo-alt-fill"></i>
            <a
              href="http://maps.google.com/?q=65 Emilie-Desjardins, Blainville, J7C 5Z8"
              target="_blank"
            >
              Emilie-Desjardins, Blainville, J7C 5Z8
            </a>
          </p>
        </div>
      
     
      </div>

      <!-- Second Main Column (Working Hours) -->
      <div class="col-md-6 d-flex">
        
        <!-- Empty left column for spacing -->
        <div class="col-md-6 text-left contact-info">
          <h6>Working Hours</h6>
          <p>Monday to Friday: 9 AM - 6 PM</p>
          <p>Saturday: 10 AM - 4 PM</p>
          <p>Sunday: Closed</p>
        </div>
     
      </div>
    </div>
  </div>
</section>
