<div class="app-container">
  <app-header></app-header>
  <!-- <app-cookie-consent></app-cookie-consent> -->
  <header class="masthead" style="background-image: url('../../assets/images/logo.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading text-center">
            <h1>{{ "about-over.title" | translate }}</h1>
            <span class="subheading">{{ "about-over.description" | translate }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="content">
   
      <app-about></app-about>
     
      <app-services></app-services>
      <app-promotions></app-promotions>
      <!-- <app-schedule-appointment></app-schedule-appointment> -->
    
      <app-rate-us></app-rate-us>
      
      <app-contact></app-contact>
      
    </div>
 <app-footer></app-footer>
</div>