<div class="modal" *ngIf="isVisible">
    <div class="modal-content">
       
        <h3>We respect your personal privacy</h3>
        <p>We respect your privacy. When you visit our website, we may collect personal information through cookies and similar technologies to identify, locate, or profile you. This information helps us enhance your experience and improve our services. We may also use this data for automated decision-making. By clicking “I understand,” you consent to our use of cookies. For more details on how we collect and use your data, please refer to our privacy policy.
        </p>
        <button id="acceptCookies" (click)="acceptCookies()">I understand</button>
    </div>
</div>