.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background-color: #04bb49;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #04bb49;
}
button:disabled {
  background-color: #ccc; /* Disable button style */
}

.note {
  color: #6c757d;
  font-size: 0.9rem;
}
.stars {
  display: flex;
  cursor: pointer;
  justify-content: center;
}

.star {
  font-size: 2rem;
  color: lightgray;
  margin-right: 5px;
  transition: color 0.2s;
}

.star.filled {
  color: gold;
}

/* Optional: You can add hover effects to highlight stars */
.stars .star:hover ~ .star,
.stars .star:hover {
  color: gold;
}
